/* Here we add style for our html page */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 50%;
    min-width: 300px;
}

.col img {
    max-width: 100%;
    padding: 50px 0px;
}

.col h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}

p {
    color: #555;
}

.btn {
    display: inline-block;
    background: rgb(255, 89, 0);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;  
}